/* styles.css */

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf'); /* Relativo a la ubicación de styles.css */
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf'); /* Relativo a la ubicación de styles.css */
}

.white-icon {
    -fx-fill: white;
    -fx-font-size: 24px; /* Ajusta el tamaño según sea necesario */
}
.menu-bar {
    -fx-background-color: transparent; /* Fondo transparente para el MenuBar */
}

/* Estilo para el Menu */
.menu {
    -fx-background-color: transparent; /* Fondo transparente para el menú */
    -fx-text-fill: black;              /* Texto negro para el menú */
}

.menu .label {
-fx-text-fill: black;
}

/* Estilo para los elementos del menú */
.menu-item {
    -fx-background-color: transparent; /* Fondo transparente para el MenuItem */
    -fx-text-fill: black;              /* Texto negro por defecto */
    -fx-border-color: transparent;    /* Sin borde visible */
    -fx-color: black;
}

/* Estilo para los elementos del menú en estado hover */
.menu-item:hover {
    -fx-background-color: transparent; /* Fondo transparente al pasar el ratón */
    -fx-text-fill: black;              /* Texto negro al pasar el ratón */
    -fx-cursor: hand;
}

/* Estilo para los elementos del menú cuando están enfocados */
.menu-item:focused {
    -fx-background-color: transparent; /* Fondo transparente cuando está enfocado */
    -fx-text-fill: black;              /* Texto negro cuando está enfocado */
    -fx-cursor: hand;
}
/* Aquí acaban los estilos del menu*/

#gridPaneUserList,
#gridPaneBranchList,
#gridPaneEstateList,
#gridPaneClientList
{
    -fx-alignment: CENTER;

}

#gridPaneUserList .label,
#gridPaneBranchList .label,
#gridPaneEstateList .label,
#gridPaneClientList .label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-padding: 10px;
}

.label-bold {
    -fx-font-weight: bold;
}

#scrollPaneUserList,
#scrollPaneBranchList,
#scrollPaneEstateList,
#scrollPaneClientList {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
